---
- name: Ensure root password is set
  fail: msg="You must set root password (percona_server_root_password)"
  when: percona_server_root_password is not defined

- name: Add Percona apt signing key
  apt_key: keyserver=keyserver.ubuntu.com id=8507EFA5 state=present

- name: Add Percona repositories
  apt_repository:
    repo: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
     - deb http://repo.percona.com/apt {{ ansible_distribution_release }} main
     - deb-src http://repo.percona.com/apt {{ ansible_distribution_release }} main

- name: Install python packages
  apt: pkg={{ item }} state=present
  with_items:
    - python-mysqldb

- name: Install Percona packages
  apt: pkg={{ item }} state=present
  with_items:
    - percona-server-server-{{ percona_server_version }}
    - percona-server-client-{{ percona_server_version }}
  environment:
    DEBIAN_FRONTEND: noninteractive
  notify:
    - set root password

#need to set mysql root pass
- meta: flush_handlers

- name: mysqld is running
  service: name=mysql state=started enabled=yes

- name: ensure databases exists
  mysql_db:
    name: "{{ item.name }}"
    encoding: "{{ item.encoding | default('utf8') }}"
    login_user: root
    login_password: "{{ percona_server_root_password }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ percona_server_databases }}"
  when: item.name is defined and item.name != ""

- name: ensure database users exists
  mysql_user:
    name: "{{ item.name }}"
    password: "{{ item.password | default(item.name) }}"
    host: "{{ item.host | default('localhost') }}"
    priv: "{{ item.priv }}"
    login_user: root
    login_password: "{{ percona_server_root_password }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ percona_server_users }}"
  when: item.name is defined and item.name != ""

# support old distros that does not create my.cnf on install
- name: create /etc/mysql/my.cnf if does not exists
  command: touch /etc/mysql/my.cnf creates=/etc/mysql/my.cnf

- name: configure mysqld
  ini_file:
    dest: /etc/mysql/my.cnf
    section: mysqld
    option: "{{ item.key }}"
    value: "{{ item.value }}"
    mode: 0600
    backup: yes
  with_dict: "{{ percona_server_config }}"
  notify:
    - restart mysql
